<div class="card">
  <div class="card-body">
    <h5 class="card-title">訂單明細</h5>
    <p class="card-text">您共選購 {{ cart.totalItemsCount }} 項商品</p>
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of cart.items" class="list-group-item">
        {{ item.quantity}} x {{ item.title }}
        <div class="float-right">
          NT$ {{ item.totalPrice }}
        </div>
      </li>
      <li class="list-group-item font-weight-bold">
        總金額
        <div class="float-right">
          NT$ {{ cart.totalPrice }}
        </div>
      </li>
    </ul>
  </div>
</div>
