<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col text-center">
      <div class="card">
        <div class="card-header">
          <i class="far fa-comment-alt"></i> 系統訊息
        </div>
        <div class="card-body">
          <h5 class="card-title">訂購成功</h5>
          <p class="card-text">謝謝您的訂購，我們將盡快為您出貨</p>
          <button (click)="backHome()" class="btn btn-primary">回到首頁</button>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
