<ng-form #f="ngForm">
  <div class="form-group">
    <label for="name">訂購人</label>
    <input id="name" #name="ngModel" name="name" [(ngModel)]="shipping.name" type="text" class="form-control" required>
    <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
      <div *ngIf="name.errors.required">請輸入訂購人</div>
    </div>
  </div>
  <div class="form-group">
    <label for="">收件地址</label>
    <input #addressLine1="ngModel" name="addressLine1" [(ngModel)]="shipping.addressLine1" type="text" class="form-control" placeholder="Ex. 台中市西區" required>
    <div class="alert alert-danger" *ngIf="addressLine1.touched && addressLine1.invalid">
      <div *ngIf="addressLine1.errors.required">請輸入收件地址</div>
    </div>
  </div>
  <div class="form-group">
    <label for=""></label>
    <input #addressLine2="ngModel" name="addressLine2" [(ngModel)]="shipping.addressLine2" type="text" class="form-control" placeholder="Ex. 自治街1巷2號" required>
    <div class="alert alert-danger" *ngIf="addressLine2.touched && addressLine2.invalid">
      <div *ngIf="addressLine2.errors.required">請輸入收件地址</div>
    </div>
  </div>
  <div class="form-group">
    <label for="">聯絡電話</label>
    <input #phone="ngModel" name="phone" [(ngModel)]="shipping.phone" type="text" class="form-control" placeholder="Ex. 0905-123-456" required>
    <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
      <div *ngIf="phone.errors.required">請輸入連絡電話</div>
    </div>
  </div>
  <button
    [disabled]="!f.valid"
    (click)="placeOrder()"
    class="btn btn-primary float-right">確認訂購</button>
</ng-form>
