<div>

  <div class="col-10" *ngIf="cart$ | async as cart" @shopsAnimation>
    <h1>購物車</h1>
    <p>
      已選購 {{ cart.totalItemsCount }} 項商品
      <button
        mat-raised-button
        color="warn"
        (click)="clearCart()"
        class="float-right">清空</button>
    </p>

    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>商品名稱</th>
        <th class="text-center" style="width: 230px">數量</th>
        <th class="text-right" style="width: 200px">小計</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <div [style.backgroundImage]=" 'url(' + item.imageUrl + ')'" class="thumbnail"></div>
        </td>
        <td class="align-middle">
          {{ item.title }}
        </td>
        <td class="align-middle">
          <product-quantity [product]="item" [shopping-cart]="cart"></product-quantity>
        </td>
        <td class="align-middle text-right">
         $ {{ item.totalPrice }}
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">$ {{ cart.totalPrice }}</th>
      </tr>
      </tfoot>
    </table>
    <button
      class="float-right"
      mat-raised-button
      color="primary"
      *ngIf="cart.items.length"
      routerLink="/check-out"
    >確認</button>
  </div>
</div>
