<div *ngIf="product.title" class="card" @fade>
  <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" alt="{{ product.title}}">
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">NT$ {{ product.price }}</p>

  </div>
  <div class="card-footer" *ngIf="showActions && shoppingCart">
    <button
      mat-raised-button
      color="primary"
      *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
      (click)="addToCart()"
      class="btn-block"><i class="fas fa-cart-plus"></i></button>
    <ng-template #updateQuantity>
      <product-quantity [product]="product" [shopping-cart]="shoppingCart"></product-quantity>
    </ng-template>
  </div>
</div>
