<div *ngIf="orderDatePlaced | async as orderDate">
  <p class="font-weight-bold">訂單編號：{{orderDate.datePlaced}}</p>
</div>

<table class="table table-sm table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th scope="col">商品名稱</th>
    <th scope="col">單價</th>
    <th scope="col">數量</th>
    <th scope="col">小計</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of order$ | async; let i = index">
    <td>{{ i + 1 }}</td>
    <th>{{ order.product.title }}</th>
    <td>{{ order.product.price }}</td>
    <td>{{ order.quantity }}</td>
    <td>{{ order.totalPrice }}</td>
  </tr>
  </tbody>
</table>
<button mat-raised-button color="primary" class="float-left" routerLink="/admin/orders">
  <i class="fas fa-long-arrow-alt-left"></i>
</button>
