<nav class="navbar navbar-expand navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fas fa-leaf" style="color: #c1d62e"></i>
    </a>
    <button
      (click)="navbarCollapsed = !navbarCollapsed"
      class="navbar-toggler"
      type="button" data-toggle="collapse"
      data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="navbarCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" (click)="navbarCollapsed = !navbarCollapsed">
          <a class="nav-link" routerLink="/shopping-cart">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge badge-warning badge-pill" *ngIf="cart$ | async as cart">
            {{ cart.totalItemsCount }}
          </span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <ng-template #anoymousUser>
          <li class="nav-item" (click)="navbarCollapsed = !navbarCollapsed">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ng-template>
        <li ngbDropdown *ngIf="appUser; else anoymousUser" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ appUser.name }}
          </a>
          <div ngbDropdownMenu
               class="dropdown-menu"
               aria-labelledby="dropdown01"
               (click)="navbarCollapsed = !navbarCollapsed"
               >
            <a class="dropdown-item" routerLink="/my/orders" ><i class="fas fa-clipboard-list"></i> 我的訂單</a>
            <ng-container *ngIf="appUser.isAdmin">
              <a class="dropdown-item" routerLink="admin/orders" ><i class="fas fa-tasks"></i> 訂單管理</a>
              <a class="dropdown-item" routerLink="admin/products" ><i class="fas fa-cogs"></i> 產品管理</a>
            </ng-container>
            <a class="dropdown-item" routerLink="/" (click)="logout()"><i class="fas fa-sign-out-alt"></i> 登出</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
