<div>
  <h1><i class="fas fa-clipboard-list"></i> 我的訂單</h1>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th><i class="fas fa-hashtag"></i> 計單編號</th>
          <th><i class="fas fa-user"></i> 訂購人</th>
          <th><i class="far fa-calendar-alt"></i> 訂購日期</th>
          <th><i class="fas fa-dollar-sign"></i> 總金額</th>
          <th><i class="fas fa-truck"></i> 處理狀態</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders; let i = index">
          <td><a [routerLink]="['/my/orders/', order.key]">{{ order.datePlaced }}</a></td>
          <td>{{ order.shipping.name }}</td>
          <td>{{ order.datePlaced | date: 'short'}}</td>
          <td>$ {{ ordersTotalPrice[i] }}</td>
          <td *ngIf="order.ship">已出貨</td>
          <td *ngIf="!order.ship">處理中</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
