<div class="row">
  <div class="col-3">
    <product-filter [category]="category"></product-filter>
  </div>

  <div class="col-9">
    <div class="container">
      <div class="row" *ngIf="cart$ | async as cart">
        <ng-container *ngFor="let p of filteredProducts; let i =index">
            <product-card class="col-lg-4 col-md-6" [product]="p" [shopping-cart]="cart" [show-actions]="true"></product-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>


<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-3 col-sm-6">-->
      <!--One of three columns-->
    <!--</div>-->
    <!--<div class="col-md-3 col-sm-6">-->
      <!--One of three columns-->
    <!--</div>-->
    <!--<div class="col-md-3 col-sm-6">-->
      <!--One of three columns-->
    <!--</div>-->
    <!--<div class="col-md-3 col-sm-6">-->
      <!--One of three columns-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->








