<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div class="card text-center">
        <div class="card-header font-weight-bold">
          請選擇登入方式
        </div>
        <div class="card-body">
          <button mat-raised-button (click)="login()" class="btn-block"><i class="fab fa-google fa-2x"></i>   GOOGLE</button>
          <br>
          <br>
          <button mat-raised-button color="primary" class="btn-block"><i class="fab fa-facebook-square fa-2x"></i> FACEBOOK</button>
        </div>
        <div class="card-body text-muted">
          <mat-divider></mat-divider>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Account" required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" required>
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" class="float-left btn-block"><i class="fas fa-sign-in-alt"></i> Sign In</button>
          <br>
          Or
          <br>
          <button mat-raised-button class="float-right btn-block"><i class="fas fa-user-plus"></i> Sign Up</button>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>




