<div class="sticky-top">
  <!--<ul class="nav justify-content-center">-->
    <!--<li class="nav-item">-->
      <!--<a-->
        <!--class="list-group-item list-group-item-action"-->
        <!--[class.active]="!category"-->
        <!--routerLink="/">-->
        <!--全部</a>-->
    <!--</li>-->
    <!--<li class="nav-item" *ngFor="let c of categories$ | async">-->
      <!--<a-->
      <!--routerLink="/"-->
      <!--[queryParams]="{ category: c.key}"-->
      <!--class="list-group-item list-group-item-action"-->
      <!--[class.active]="category === c.key">-->
      <!--{{ c.name }}-->
      <!--</a>-->
    <!--</li>-->
  <!--</ul>-->
  <div class="list-group">
    <a
      class="list-group-item list-group-item-action"
      [class.active]="!category"
      routerLink="/">
      全部</a>
    <a
      *ngFor="let c of categories$ | async"
      routerLink="/"
      [queryParams]="{ category: c.key}"
      class="list-group-item list-group-item-action"
      [class.active]="category === c.key">
      {{ c.name }}
    </a>
  </div>
</div>


